<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <a class="navbar-brand fs-2" href="/">Boom Bam</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto fs-4">
            <li class="nav-item">
                <a class="nav-link" href="/coffees">Coffees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addresses">Addresses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vehicles">Vehicles</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="text-center my-5">Check out our API!</h1>
    <p class="fs-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra dapibus odio, et malesuada diam
        rhoncus et. Curabitur dui ante, tempor sit amet mi in, auctor fringilla ex. Suspendisse potenti. Aliquam vitae
        lacus felis. Nullam id urna tincidunt lectus dapibus rutrum in sit amet metus. Phasellus suscipit augue commodo,
        aliquam leo in, dictum urna. Fusce imperdiet luctus nunc, sed euismod quam interdum tempor. Maecenas laoreet
        venenatis ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Proin iaculis efficitur pulvinar. Proin leo mauris, hendrerit vel ligula eget, porta porta neque. Maecenas nec
        finibus lorem, vitae lacinia diam. Sed ullamcorper ornare varius.</p>
    <div class="d-flex flex-column aligns-items-center justify-content-center" style="height: 420px">
        <a href="/coffees" class="btn btn-primary fs-3" role="button">Coffees API</a>
        <a href="/addresses" class="btn btn-primary my-5 fs-3" role="button">Addresses API</a>
        <a href="/vehicles" class="btn btn-primary my-5 fs-3" role="button">Addresses API</a>
    </div>
</div>

</body>
</html>